---
import { Image } from "astro:assets";
import Social from "./basic/Social.astro";
import type { IconType } from "react-icons";

interface Props {
  image: string;
  title: string;
  subtitle: string;
  social: Record<string, string>;
  extra: {
    icon: IconType;
    title: string;
    content: string;
  }[];
}

const props: Props = Astro.props;
const { image, title, subtitle, social, extra } = props;
---

<div
  class="w-full mb-6 lg:mb-0 mx-auto relative bg-white text-center dark:bg-dark-primary px-6 rounded-[20px] mt-[160px] lg:mt-0"
>
  <Image
    src={image}
    width={295}
    height={395}
    alt={title}
    class="w-[240px] absolute left-[50%] transform -translate-x-[50%] h-[240px] drop-shadow-xl mx-auto rounded-[20px] -mt-[140px]"
    alt="about"
  />
  <div class="pt-[100px] pb-8">
    <h3 class="mt-6 mb-1 font-semibold dark:text-white">
      {title}
    </h3>
    <h6 class="text-sm text-gray-500 dark:text-gray-400 mt-1">
      {subtitle}
    </h6>
    <Social source={social} className="social-icons-on-dark mt-6" />

    <div class="p-7 rounded-2xl mt-7 bg-slate-100 opacity-80">
      {
        extra.map((item, index) => {
          const { icon: Icon } = item;
          return (
            <div
              class={
                "flex p-2.5 border-slate-300 align-middle" +
                (index === 3 ? "" : "mb-2.5 border-b")
              }
            >
              <div class="flex h-8 w-8 items-center justify-center transition-all duration-300 ease-in-out rounded-lg hover:bg-gradient-to-r hover:bg-primary hover:text-white dark:bg-black text-icon-color-two shadow-md place-self-center bg-white">
                <Icon />
              </div>
              <div class="text-left ml-2.5">
                <p class="font-semibold text-sm">{item.title}:</p>
                <h6 class="hover:underline hover:cursor-pointer">
                  {item.content}
                </h6>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
