---
import { Image } from "astro:assets";
import config from "@config/config.json";
import { getSinglePage } from "@lib/contentParser.astro";
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCalendarEdit, BiCategoryAlt } from "react-icons/bi/index.js";
import type { CollectionEntry } from "astro:content";
const authors = await getSinglePage("authors");
const { summary_length } = config.settings;

interface Props {
  projects: CollectionEntry<"projects">[];
  fluid?: boolean;
  className?: string;
}

const { className, projects, fluid } = Astro.props;
---

<div
  class={`row gy-5 gx-4 ${className} ${
    projects.length == 1 ? "justify-center" : ""
  } `}
>
  {
    projects.map((project, i: number) => (
      <div class={"col-12 sm:col-6"}>
        <ul class="mt-6 mb-4 flex flex-wrap items-center text-text">
          <li class="mr-5">
            {authors
              .filter((author) =>
                project.data.authors
                  .map((author: string) => slugify(author))
                  .includes(slugify(author.data.title)),
              )
              .map((author) => (
                <a
                  href={`/authors/${slugify(author.data.title)}`}
                  class="flex items-center hover:text-primary font-medium"
                >
                  {author.data.image && (
                    <Image
                      src={author.data.image}
                      alt={author.data.title}
                      height={50}
                      width={50}
                      class="mr-2 h-6 w-6 rounded-full"
                    />
                  )}
                  <span>{author.data.title}</span>
                </a>
              ))}
          </li>
          <li class="mr-5 flex items-center flex-wrap font-medium">
            <BiCalendarEdit className="mr-1 h-5 w-5 text-gray-600" />
            <>{dateFormat(project.data.date)}</>
          </li>
          <li class="mr-5 flex items-center flex-wrap">
            <BiCategoryAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />
            <ul class="mr-4 mb-4 space-x-3">
              {project.data.tags.map((tag: string) => (
                <li class="inline-block">
                  <a
                    href={`/tags/${slugify(tag)}`}
                    class="block rounded-lg bg-theme-light px-4 py-2 font-semibold text-dark text-sm hover:text-primary transition duration-300"
                  >
                    #{humanize(tag)}
                  </a>
                </li>
              ))}
            </ul>
          </li>
        </ul>
        <h3 class="mb-4">
          <a
            href={`/${project.slug}`}
            class="block hover:text-primary transition duration-300"
          >
            {project.data.title}
          </a>
        </h3>
        <p class="text-text">
          {project.body?.slice(
            0,
            Number(
              i === 0 && fluid != false ? summary_length * 2 : summary_length,
            ),
          )}
          ...
        </p>
      </div>
    ))
  }
</div>
